@page "/newreport"
@using ReportApp.Core.DTO
@using ReportApp.DAL.Tools

@inject HttpClient Http

<h3>New report</h3>
<br />

<EditForm Model="@_reportDto">
    <div>
        <p>
            <MatTextField @bind-Value="@_reportDto.Body" Required="true" Label="Description" Outlined="true" TextArea="true" Style="width: 500px; height: 250px"></MatTextField>
        </p>
        <p>
            Task ID: <br />
            <MatSelectItem @bind-Value="@_selectedTaskDto" Items="@_tasks" Outlined="true">
                <ItemTemplate Context="e">
                    <span>[@e?.Id] @e.Name</span>
                </ItemTemplate>
            </MatSelectItem>
        </p>
        <p>
            Employee ID: <br />
            <MatSelectItem @bind-Value="@_selectedEmployeeDto" Items="@_employees" Outlined="true">
                <ItemTemplate Context="e">
                    <span>[@e?.Id] @e.Name</span>
                </ItemTemplate>
            </MatSelectItem>
        </p>
        <p>
            Type: <br />
            <MatRadioGroup @bind-Value="@_reportDto.Type">
                <MatRadioButton Value="@ReportType.Daily" Label="Daily"></MatRadioButton>
                <MatRadioButton Value="@ReportType.Sprint" Label="Sprint"></MatRadioButton>
            </MatRadioGroup>
        </p>
    </div>
    <div>
        <MatButton Type="submit" OnClick="@SubmitNewReport" Unelevated="true" Style="background-color: limegreen">Submit</MatButton>
        &nbsp;
        <MatButton Unelevated="true" OnClick="@ResetReport" Style="background-color: dimgray">Reset</MatButton>
    </div>
    <br />
</EditForm>