@page "/allemployees"

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IMatDialogService MatDialogService

<h3>All employees</h3>
<br />

@if (_employees is null)
{
    <p><MatProgressBar Indeterminate="true"></MatProgressBar></p>
}
else
{
    <MatTable Items="@_employees" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="width: 100px">Id</th>
            <th style="width: 1120px">Name</th>
            <th style="width: 80px">Leader</th>
            <th style="width: 80px"></th>
            <th style="width: 80px"></th>
        </MatTableHeader>
        <MatTableRow>
            <td style="width: 100px">@context.Id</td>
            <td style="width: 1200px">@context.Name</td>
            <td style="width: 80px">
                <MatButton Link="@NavigateToLeaderProfile(@context.LeaderId ?? @context.Id)" Raised="true" Style="background-color: lightsalmon">Profile</MatButton>
            </td>
            <td style="width: 80px">
                <MatButton Link="@NavigateToEditPage(@context.Id)" Raised="true" Style="background-color: cadetblue">Edit</MatButton>
            </td>
            <td style="width: 80px">
                <MatButton OnClick="() => DeleteEmployee(context)" Raised="true" Style="background-color: lightslategray">Delete</MatButton>
            </td>
        </MatTableRow>
    </MatTable>
}