@page "/allemployees"

@using ReportApp.Core.DTO

@inject HttpClient Http

<h3>All employees</h3>

@if (_employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MatTable Items="@_employees" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="width: 100px">Id</th>
            <th style="width: 1200px">Name</th>
            <th style="width: 80px">Leader</th>
            <th style="width: 80px"></th>
        </MatTableHeader>
        <MatTableRow>
            <td style="width: 100px">@context.Id</td>
            <td style="width: 1200px">@context.Name</td>
            <td style="width: 80px">
                <MatButton Link="@NavigateToLeaderProfile(@context.LeaderId ?? @context.Id)" Raised="true" Style="background-color: lightsalmon">Profile</MatButton>
            </td>
            <td style="width: 80px">
                <MatButton Raised="true" Style="background-color: cadetblue">Edit</MatButton>
            </td>
        </MatTableRow>
    </MatTable>
}

@code {
    private List<EmployeeDto> _employees;
    private static String NavigateToLeaderProfile(Int32? id) => $"/employee/profile/{id}";

    protected override async Task OnInitializedAsync()
    {
        _employees = await Http.GetFromJsonAsync<List<EmployeeDto>>("api/employee/get-all");
    }
}
