@page "/alltasks"

@using ReportApp.Core.DTO

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IMatDialogService MatDialogService

<h3>All tasks</h3>
<br />

@if (_tasks is null)
{
    <p><MatProgressBar Indeterminate="true"></MatProgressBar></p>
}
else
{
    <MatTable Items="@_tasks" class="mat-elevation-z5">
        <MatTableHeader>
            <th style="width: 100px">Id</th>
            <th style="width: 220px">Title</th>
            <th style="width: 500px">Description</th>
            <th style="width: 150px">Start date</th>
            <th style="width: 150px">Finish date</th>
            <th style="width: 100px">State</th>
            <th style="width: 80px">Employee</th>
            <th style="width: 80px">Changes</th>
            <th style="width: 80px"></th>
            <th style="width: 80px"></th>
        </MatTableHeader>
        <MatTableRow>
            <td style="width: 100px">@context.Id</td>
            <td style="width: 240px">@context.Name</td>
            <td style="width: 500px">@context.Description</td>
            <td style="width: 150px">@context.StartDate</td>
            <td style="width: 150px">@context.FinishDate</td>
            <th style="width: 100px; background-color: white;">@context.State</th>
            <td style="width: 80px">
                <MatButton Link="@NavigateToEmployeeProfile(@context.EmployeeId)" Raised="true" Style="background-color: lightsalmon">Profile</MatButton>
            </td>
            <td style="width: 80px">
                <MatButton Link="@NavigateToTaskChangePage(@context.Id)" Raised="true" Style="background-color: cornflowerblue">View</MatButton>
            </td>
            <td style="width: 80px">
                <MatButton Link="@NavigateToEditTaskPage(@context.Id)" Raised="true" Style="background-color: cadetblue">Edit</MatButton>
            </td>
            <td style="width: 80px">
                <MatButton OnClick="() => DeleteTask(context)" Raised="true" Style="background-color: lightslategray">Delete</MatButton>
            </td>
        </MatTableRow>
    </MatTable>
}