@page "/edittask/{TaskId:int}"

@using ReportApp.Core.DTO
@using ReportApp.DAL.Tools

@inject HttpClient Http

<h3>Edit task</h3>
<br />

<EditForm Model="@_newTaskDto">
    <div>
        <p>
            <MatTextField @bind-Value="@_newTaskDto.Name" Label="Title" Outlined="true"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@_newTaskDto.Description" Label="Description" Outlined="true" TextArea="true" Style="width: 500px; height: 250px"></MatTextField>
        </p>
        <p>
        <p>
            <b>Start date:</b>
        </p>
        <MatDatePicker @bind-Value="@_newTaskDto.StartDate" EnableTime="true" Enable24hours="true" Outlined="true"></MatDatePicker>
        </p>
        <p>
        <p>
            <b>Finish date:</b>
        </p>
        <MatDatePicker @bind-Value="@_newTaskDto.FinishDate" EnableTime="true" Enable24hours="true" Outlined="true"></MatDatePicker>
        </p>
        <p>
            <MatSelectItem @bind-Value="@_selectedEmployeeDto" Items="@_employees" Outlined="true">
                <ItemTemplate Context="e">
                    <span>[@e?.Id] @e.Name</span>
                </ItemTemplate>
            </MatSelectItem>
        </p>
        <p>
            State: <br />
            <MatRadioGroup @bind-Value="@_newTaskDto.State" Items="@(Enum.GetValues(typeof(TaskState)).Cast<TaskState>())"></MatRadioGroup>
        </p>
    </div>
    <br />
    <div>
        <p>
            <MatTextField @bind-Value="@_taskChangeDto.Comment" Required="true" Label="Comment" Outlined="true" TextArea="true" Style="width: 500px; height: 250px"></MatTextField>
        </p>
    </div>
    <div>
        <MatButton Type="submit" OnClick="@SubmitTaskChange" Unelevated="true" Style="background-color: limegreen">Submit</MatButton>
        &nbsp;
        <MatButton Unelevated="true" OnClick="@ResetTaskChange" Style="background-color: dimgray">Reset</MatButton>
    </div>
    <br />
</EditForm>

@code {
    [Parameter]
    public Int32 TaskId { get; set; }
}
